<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>Enter a new bourbon</h1>
  <form action="/bourbons" method="POST">
    <label>Name:
      <input type="text" name="name">
    </label>
    <label>Years Aged:
      <input type="text" name="age">
    </label>
    <label>Mash Bill:
      <select name="bill">
        <option value="High Corn">High Corn</option>
        <option value="High Wheat">High Wheat</option>
        <option value="High Rye">High Rye</option>
        <option value="Unknown" selected>Unknown</option>
      </select>
    </label>
    <button type="submit">Add Bourbon</button>
  </form>
</main>

<%- include("../partials/footer") %>