<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>Enter a new bourbon</h1>
  <form action="/bourbons" method="POST">
    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
      <span class="mdc-text-field__ripple"></span>
      <input class="mdc-text-field__input" name="name" type="text" placeholder="name" aria-label="Label">
      <span class="mdc-line-ripple"></span>
    </label>
    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
      <span class="mdc-text-field__ripple"></span>
      <input class="mdc-text-field__input" name="age" type="text" placeholder="Years aged" aria-label="Label">
      <span class="mdc-line-ripple"></span>
    </label>
    <label>Mash Bill:
      <select name="bill">
        <option value="High Corn">High Corn</option>
        <option value="High Wheat">High Wheat</option>
        <option value="High Rye">High Rye</option>
        <option value="Unknown" selected>Unknown</option>
      </select>
    </label>
    <button class="mdc-button mdc-button--raised mdc-button--leading" type="submit">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">liquor</i>
      <span class="mdc-button__label">Add Bourbon</span>
    </button>
    
  </form>
</main>

<%- include("../partials/footer") %>