  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
        <a
        href="/bourbons/new" <%- title === "Add Bourbons" ? 'class="active"' : '' %>>ADD BOURBONS</a>
      </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
        <% } %>
      <a href="/bourbons" <%- title === 'All Bourbons' ? 'class="active"' : '' %>>ALL BOURBONS</a>
  </nav>
